[project]
name = "braindead"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click>=8.3.0",
    "pyinstaller>=6.16.0",
]
